body{
    background-color: rgb(219, 184, 141);
}

h1 {
    color: black;
    background-color: bisque;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    background-color: bisque;
    color: black;
    font-size: 14px;
    text-decoration: underline;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    margin-right: 120px;  width: 80%;
}

table{

width: 100%;

}
td{ 
    text-align: center;
   border:  1px solid;

  
}

table,td,th{
    border: 2px solid black;
    border-collapse: collapse;
}
caption{ 
    border: 20px dotted burlywood; 
    font-weight: bold;
}
 tr:nth-child(even){

background-size: auto; 

 }