@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./vars.css');
@import url('./reset.css');
@import url('./mobile.css');
@import url('./tablet.css');



.grid {
    display: grid;
}
body {
    background-image: url("/image/1.jpeg");
    
  }

.body { 
    grid-template-areas: 
        'header header header header'
        'content content content content'
        'content content content content'
        'footer footer footer footer';
}

#header {
    grid-area: header;
    grid-template-columns: 14fr 3fr;
    
}

#header #logo{
    width: 45%;
    max-width: 80%;
    
}
#logo{

    width: 3%;
    margin-right: 10px;
    filter: invert(100%);
}


#header nav ul {
    list-style: none;
    grid-template-columns: repeat(5, 14fr);
    align-content: center;
    color: #fff;
    font-family: poppis;

    
} 

#header nav ul li a{
    text-align: center;
    padding: 5px 20px;
   
}

#header nav ul li a:hover{ 
    background: #fff;
    color: #333;
    
}

#hero {
    grid-area: hero;
}

#content {
    grid-area: content;
    grid-template-columns: 1fr 3fr;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20%;
    text-align: center;
    
    
}
.welcome-text h1{
margin: 0;
text-align: center;
color:#fff;
 text-transform: uppercase;
font-size: 60px;
padding: 10px;

}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    /* margin-top: 20px; */
    display:inline-block;
    color: #fff;
}
.welcome-text a:hover{
background: #fff;
color: #333;
}
header{
    border-bottom: 1px solid ;
}

#footer {
    grid-area: footer;
    margin-top: 40%;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    top: 0px;
    text-align: center;
 }

    li a {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
      }
      
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .dropbtn {
        font-weight: bold;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        padding-right: 90px;
        align-content:center ;
        list-style-type: none;
        overflow: hidden;
        
      }
    
      
      .dropdown-content {
        display: none;
        position:fixed;
        
        z-index: 1;
      }
      
      .dropdown-content a {
        
        background-attachment: fixed;
        text-decoration: none;
        
      }
      
      .dropdown-content a:hover {background-color: rgb(220, 193, 193);}
      
      .dropdown:hover .dropdown-content {
        display: block;
        width: 280px;
      }
      
      .dropdown:hover .dropbtn {
        background-color:rgb(243, 237, 237); ;
      }
    