:root {
    /*colors*/
    --clr-primary: #000;
    --clr-secondary: #888;
    --clr-invert: #fff;

    /*font size*/
    --fs-base: 1.5rem;
    --fs-header: calc(2.5*var(--fs-base));

    --spacing: 1.5rem;
}